
.todo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid #0e0e0e;
    margin-top: 10px;
    border-radius: 4px;
    width: 50%;
    background-color:#313444;
  }
  
  .todo-content {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
  }

  
  .todo-text {
    font-size: 25px;
    margin-right: 10px;
  }
  
  .time-input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .remove-button {
    padding: 6px 12px;
    background-color: #7185e3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  .time-input {
    padding: 8px;
    border: 2px solid #3498db;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .time-input.has-value::before {
    content: 'Set Time';
    display: inline-block;
    position: absolute;
    padding: 8px;
    color: #999;
    pointer-events: none;
  }
  
  
  @media (max-width: 768px) {
    .todo-item {
        width: 100%;
    }
    .todo-text {
        font-size: 16px;
      }
      .todo-content {
        display: flex;
        gap:10px;
        align-items: center;
      }
  }